<div class="container">




<div class="jumbotron">

  <h2>Select your burger to eat!!</h2>

  <panel>
    <form class="create-form">
      <div class="form group">
        <label for="newburger">Order a burger!</label>

        <select data-placeholder="" id="newburger" name="burger">

          <option value="Cheeseburger">Cheesburger</option>
          <option value="Hamburger">Hamburger</option>
          <option value="Veggieburger">Veggieburger</option>
          <option value="Juicy-Lucy">Juicy-Lucy</option>
          <option value="Beanburger">Beanburger</option>
          <option value="Avocadoburger">Avocadoburger</option>
        </select>
        <button type="submit" class="btn btn-success" id="addburger">
          <span class="fa"></span>
        </button>



      </div>

    </form>


  </panel>

</div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading" id="leftside">Order burgers</div>
      <div class="panel-body">

        <ul>
          {{#each burgers}}
          {{#unless Devoured}}
            <li>
            <span>{{ this.id}} - {{this.burger_name}}</span>
            <button type="button" class="eatburger btn" id="eatbutton" data-id="{{this.id}}"
              data-newDevoured="{{Devour}}"><span class="fa"></span></button>
          </li>

          {{/unless}}
          {{/each}}
        </ul>



      </div>

    </div>
  </div>

  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading" id="rightside">Burger ready for pickup</div>
      <div class="panel-body">
        <ul>
          {{#each burgers}}
          {{#if Devoured}}
          <li>
          <span>{{ this.id}} - {{this.burger_name}}</span>
           <button type="button" class="trashburger btn" id="trashbutton" data-id="{{this.id}}"
              data-newDevoured="{{Devour}}"><span class="fa"></span></button>
          </li>
          {{/if}}
          {{/each}}
        </ul>




      </div>



    </div>



  </div>


  